/local.properties
/.idea/
/.gradle/
/build/
/captures/
/app/build/
/app/release/
/app/debug/
functions/.env
functions/.runtimeconfig.json
app/google-services.json
firebase-debug.log
firebase.json
.firebaserc
functions/node_modules/
functions/package-lock.json
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.iml
*.log
*.tmp
*.bak
*.swp
*.lock
